/* styles.css */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    padding-top: 180px;
}

.hero {
    background: url('..//images/bg3.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

main {
    padding: 20px;
}

h1{
    color: #ffffff;
}

h2{
    color: #007ACC;
} 
.about, .features, .team, .testimonials {
    margin-bottom: 40px;
}

P{
    justify-content: space-between;
    
}
.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #007ACC;
}

.team {
    display: flex;
    gap: 20px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    text-align: center;
    background: #007ACC;
    color: #fff;
    padding: 10px;
}
